<h1>Sardor Pagination Rules!</h1>
<section class="container">

  <div class="boxes">
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>Dev Ops</h3>
      <p>This is the content of the Card </p>
    </div>
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>Gate Data Science</h3>
      <p>This is the content of the Card </p>
    </div>
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>Crash Course</h3>
      <p>This is the content of the Card </p>
    </div>
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>Coding Guide</h3>
      <p>This is the content of the Card </p>
    </div>
  </div>
  <div class="boxes">
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>Live Classes</h3>
      <p>This is the content of the Card </p>
    </div>
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>Interview Classroom</h3>
      <p>This is the content of the Card </p>
    </div>
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>Interview Prep</h3>
      <p>This is the content of the Card </p>
    </div>
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>Data Structure Python</h3>
      <p>This is the content of the Card </p>
    </div>
  </div>
  <div class="boxes">
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3></h3>
      <p>This is the content of the Card </p>
    </div>
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3></h3>
      <p>This is the content of the Card </p>
    </div>
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>Algorithm</h3>
      <p>This is the content of the Card </p>
    </div>
    <div class="box">
      <img src="https://media.geeksforgeeks.org/img-practice/banner/mern-full-stack-development-classroom-thumbnail.png?v=19630" alt="image #">
      <h3>MERN</h3>
      <p>This is the content of the Card </p>
    </div>
  </div>

 
  <button>Clicked</button>
</section>